{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brand Club {% block title %} | Home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
    {% block extra_css %} {% endblock %}

</head>
<body>

{% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header"><a class="navbar-brand" href="#"><img class="img-responsive"
                                                                         src="{{ brand.logo.url }}"
                                                                         alt="{{ brand.name }}"/></a>

            <div class="icon-container pull-right">

            </div>
        </div>
    </div>
{% endblock %}



<div id="main-container">
    {% block content %}

    {% endblock %}
</div>
<div class="map" style="width:100%">

</div>

<script type="text/javascript">

    // Add a script element as a child of the body
    function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "{% static 'js/jquery-1.10.2.min.js' %}";
        document.body.appendChild(element);

        var element = document.createElement("script");
        element.src = "{% static 'js/bootstrap.min.js' %}";
        document.body.appendChild(element);


    }

    // Check for browser support of event handling capability
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;

</script>
{% block extra_js %}{% endblock %}
</body>
</html>