{% load staticfiles %}
{% load reporting %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brand Club {% block title %} | Home{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
    {% block project_css %}
    <link rel="stylesheet" href="{% static 'css/project.css' %}"/>
    {% endblock %}
    {% block extra_css %} {% endblock %}
    {% block brand_background %}
        <style>
            {% if brand.bg_color %}
                body   {
                    background: {{ brand.bg_color }} !important;
                }
            {% elif brand.bg_image %}
                body   {
                    background: url("{{ brand.bg_image.url }}") !important;
                }
            {% endif %}
        </style>
    {% endblock %}

</head>
<body>

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="img-responsive" src="{{ brand.logo.url }}" alt="{{ brand.name }}"/></a>
      {% block store_details %}
      {% endblock %}
    </div>
</div>
{% endblock %}



<div id="main-container">
    {% block content %}

    {% endblock %}
</div>
<div class="map" style="width:100%"></div>

{% block navbar_bottom %}
    {% block navbar_redirect_to_cluster %}
        <div class="navbar navbar-fixed-bottom">
            <a href="{{ redirect }}"
                    style="text-align: center; text-decoration: no-underline;">
                {% if to == "store" %}
                    <h4>Back to the store!</h4>
                {% else %}
                    <h4>More stores around you!</h4>
                {% endif %}
            </a>
        </div>
    {% endblock %}
{% endblock %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/user_id_cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/inview.logging.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/click.log.js' %}"></script>
    <script src="{% static 'js/project.js' %}"></script>
    <script src="{% static 'js/call_log.js' %}"></script>
{% tracking_code %}
{% block extra_js %}{% endblock %}
</body>
</html>