{% extends "core_base.html" %}
{% load staticfiles %}
{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block project_css %}
{% endblock %}
{% block extra_css %}
    <style>
        .navbar-brand img {
            max-height: 50px;
        }

        .form-horizontal {
            margin-top: 100px;
        }

        .container {
            margin-top: 100px;
        }
        .form-control   {
            margin-bottom: 1%;
        }
        .error-mesg {
            color: red;
        }
    </style>
{% endblock %}
{% block store_details %}
{% endblock %}
{% block content %}
    <div class="container">
        <h5>Fill the details to avail free internet</h5>
        <div class="name-error-mesg error-mesg"></div>
        <input type="text" placeholder="Name" class="form-control" id="user_name"/>
        <div class="phone-error-mesg error-mesg"></div>
        <input type="tel" placeholder="Phone Number" class="form-control" id="user_phone"/>
        <div class="code-error-mesg error-mesg"></div>
        <input type="text" placeholder="Code" class="form-control" id="user_code"/>
        <input type="button" class="btn btn-primary" id="free_internet_submit" onclick="validate_free_internet_form()"
               value="Submit"/>

        <div id="error-message-container error-mesg"></div>

    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/free_internet_ajax.js' %}"></script>
    {% block logging %}
    {% endblock %}
    <script>
        $(document).ready(function(){
            var user_unique_id = readCookie("user_unique_id");
            call_log(-7, window.log_info.home_device_id, user_unique_id, "Free Internet", "page load", "");
        });
    </script>
{% endblock %}