{% extends "core_base.html" %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block content %}
<ul class="container list-unstyled" id="home-widget-list">
{% for content in contents %}
<li class="row bc-widget-row">
    <div class="col-lg-12 col-md-12 col-xs-12 brandclub-widget">
        <a class="content-link" href="#">
            <img class="img-responsive" src="{{ content.thumbnail.url }}" alt="{{ c.name }}"/>
        </a>
        <div class="info">
            <h4>{{ content.name }}</h4>
            <p>{{ content.short_description }}</p>
        </div>
    </div>
</li>
{% endfor %}
</ul>
{% endblock %}