{% extends "core_base.html" %}

{% load staticfiles %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block store_details %}
    <div class="icon-container pull-right">
        <a href="/ci"
           class="navbar-icon">
            <span class="glyphicon glyphicon-info-sign"></span>
        </a>
    </div>
{% endblock %}
{% block content %}
    <div class="container list-unstyled" id="home-widget-list">
        {# style="margin-bottom: 40px;" #}
        <div class="row masonry" style="display:none">
            {% for content in contents %}
                <div class="col-lg-4 col-xs-12 col-sm-6 brandclub-widget"
                     data-log-brand-name="{{ content.own_store.brand.name }}"
                     data-log-content-name="{{ content.name }}"
                     data-log-content-type="{{ content.content_type }}"
                     data-log-content-id="{{ content.id }}"
                     data-content-distance="{{ content.distance_from_home_store }}">
                    <div class="img-frame">
                        <div class="image-wrapper content-panel">
                            <a class="content-link img-preview"
                               data-log-brand-name="{{ content.own_store.brand.name }}"
                               data-log-content-name="{{ content.name }}"
                               data-log-content-type="{{ content.content_type }}"
                               data-log-content-id="{{ content.id }}"
                               data-device-id="{{ content.device_id }}"
                               data-redirect-url="{{ content.url|urlencode }}"
                               data-from-box-url="/home/{{ content.own_store.slug_name }}/">
                                <img class="img-responsive image"
                                     src="{{ content.thumbnail_url |default_if_none:'#' }}"
                                     alt="{{ c.name }}"/>
                            </a>
                        </div>
                        <div class="row info-panel">
                            <div class="icons col-xs-8">
                                <h5>{{ content.name }}</h5>
                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>

                        <p>{{ content.short_description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block navbar_bottom %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
    <script>
        var container = $(".masonry");
        container.hide();
        container.imagesLoaded(function () {
            container.fadeIn();
            var isotope = $(".masonry").isotope({
                itemSelector: '.brandclub-widget',
                layoutMode: 'fitRows',
                sortBy: 'distance',
                getSortData: {
                    distance: function ($elem) {
                        return parseFloat($elem.attr('data-content-distance'));
                    }
                }
            });
        });

        var contentPanel = $(".content-panel");
        contentPanel.click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            var target = $(".content-link", this);
            var contentType = target.attr('data-log-content-type');
            var deviceId = target.attr('data-device-id');
            var from_device_url = target.attr('data-from-box-url');
            if (contentType == 'Url') {
                logAndRedirect(contentType, "/redirect?href=" + target.attr('data-redirect-url'));
            } else {
                if (deviceId) {
                    logAndRedirect(contentType, "/sh/" + deviceId);
                }
                else {
                    logAndRedirect(contentType, from_device_url);
                }
            }
        });

    </script>
    <script>
        $(document).ready(function () {
            var user_unique_id = readCookie("user_unique_id");
            call_log(-1, window.log_info.home_device_id, user_unique_id, "Cluster Home", "page load", "");
        });
    </script>
{% endblock %}