{% extends "core_base.html" %}

{% load staticfiles %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blueimp-gallery.css' %}"/>
{% endblock %}

{% block navbar %}
{% endblock %}
{% block content %}
    <div id="slide-show-carousel" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    </div>
    {% for content in contents %}
        {% if content.content_type.name == 'Slide Show' %}
        <div id="links">
                                {% for i in content.image.all %}

                                        <a href="{{ i.image.url }}"></a>

                                {% endfor %}
                                </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="{% static  'js/blueimp-gallery.min.js'%}"></script>
    <script type="text/javascript" src="{% static  'js/store.js'%}"></script>
{% endblock %}