{% extends "core_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load forms_builder_tags %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block project_css %}
{% endblock %}
{% block extra_css %}
    <style>
            .navbar-brand img   {
                max-height: 50px;
            }
            .form-horizontal  {
                margin-top: 100px;
                margin-bottom: 45px;
            }
            .container  {
                margin: 20px;
            }
            .radio  {
                margin-left: 2%;
                display: inline-block;
            }

        </style>
{% endblock %}
{% block store_details %}
{% endblock %}
{% block content %}
    <div class="container">
            <form action="/feedback/{{ store.id }}/" class="form-horizontal" role="form"
                    {% if store.has_custom_form %} onsubmit="return validate_custom_form();" {% endif %} method="post">
                {% csrf_token %}
                    {{form | crispy}}
                <input type="hidden" name="store" id="store" value="{{ store.id }}"/>
                <input type="submit" style="margin-bottom: 5%"/>
            </form>
            {% if store.has_custom_form %}
                <script>

                    function validate_custom_form() {
                        var ph_no = $("#id_phone_number").val();
                        var user_name = $("#id_name").val();
                        if(ph_no.length != 10)  {
                            if(user_name=='')   {
                                alert("Please enter your name");
                                $("#id_name").focus();
                                return false;
                            }
                            alert("Please enter a proper phone number");
                            $("#id_phone_number").focus();
                            return false;
                        }
                        var isnum = /^\d+$/.test(ph_no);
                        if(!isnum) {
                            $("#id_phone_number").focus();
                            alert("Invalid phone number");
                            return false;
                        }
                    }

                </script>
            {% endif %}
    </div>
{% endblock %}
{% block extra_js %}
{% block logging %}
    <script>
        $(document).ready(function(){


    $('textarea').attr('rows', 4);

            var user_unique_id = readCookie("user_unique_id");
            call_log(-5, window.log_info.home_device_id, user_unique_id, "Store Feedback", "page load", "");
        });
    </script>
{% endblock %}
{% endblock %}