{% extends "core_base.html" %}

{% load staticfiles %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block content %}
    <div class="container list-unstyled" id="home-widget-list">
        <div class="row masonry">
            {% for content in contents %}

                <div class="col-lg-4 col-xs-12 col-sm-6 brandclub-widget">
                    <div class="img-frame">
                        <div class="image-wrapper">
                            {% if content.content_type.name == "Wallpaper" %}
                                <a class="content-link img-preview"
                                   href="{{ content.file.url }}">
                                <img
                                        class="img-responsive image"
                                        src="{{ content.thumbnail.url }}"
                                        alt="{{ c.name }}"/>
                                </a>
                            {% elif content.content_type.name == "Video" %}
                                <a class="content-link img-preview "
                                   href="#">
                                    <video style="width:100%;height:auto;"
                                           poster="{{ content.thumbnail.url }}"
                                           controls="controls" preload="none">
                                        <source type="video/mp4"
                                                src="{{ content.file.url }}" />
                                        <object style="height:inherit;width:inherit"
                                                type="application/x-shockwave-flash"
                                                data="{% static 'js/flashmediaelement.swf' %}">
                                            <param name="movie"
                                                   value="{% static 'js/flashmediaelement.swf' %}" />
                                            <param name="flashvars"
                                                   value="controls=true&file={{ content.file.url }}" />
                                            <img src="{{ content.thumbnail.url }}"
                                                 style="height:inherit;width:inherit"
                                                 title="No video playback capabilities" />
                                        </object>
                                    </video>
                                </a>
                             {% elif content.content_type.name == "Slide Show" %}
                                <div id="slide-show-carousel"
                                     class=" content-link img-preview blueimp-gallery blueimp-gallery-controls">
                                    <div class="slides"></div>
                                    <h3 class="title"></h3>
                                    <a class="prev">‹</a>
                                    <a class="next">›</a>
                                    <a class="play-pause"></a>
                                </div>
                                <div id="links">
                                    {% for i in content.image.all %}
                                            <a href="{{ i.image.url }}"></a>
                                    {% endfor %}
                                </div>
                            {% endif %}


                        </div>
                        <div class="row info-panel">
                            <div class="icons col-xs-8">
                                <h5>{{ content.name }}</h5>
                            </div>
                            <div class="col-xs-4">

                            </div>
                        </div>

                        <p>{{ content.short_description }}</p>
                    </div>
                </div>

            {% endfor %}
        <div id="store-details" class="reveal-modal my-personal-modal">
             <h3 class="align-center">{{ store.name }}</h3>
            <img src="/media/store_maps/{{ store.map_name }}"
                 class="img-responsive store-map-image"/>
            <h5 class="align-center">Store Address:</h5>
            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
                {{ store.address_first_line }}
                {{ store.address_second_line }}
                {{ store.city }}
                {{ store.pin_code }}
                {{ store.state }}
            </div>
            <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                {% if store.contact_number %}
                <a href="tel:{{ store.contact_number }}"
                   class="navbar-icon float-left">
                    <span class="glyphicon glyphicon-earphone float-left">
                        {{ store.contact_number }}
                    </span>
                </a>
                {% endif %}
                {% if store.mail_id %}
                    <br />
                <a href="mailto:{{ store.mail_id }}"
                   class="navbar-icon float-left">
                    <span class="glyphicon glyphicon-envelope float-left">
                        {{ store.mail_id }}
                    </span>
                </a>
                {% endif %}
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>
        </div>
    </div>
{% endblock %}
