{% extends "core_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}
    | {{ brand.name }}
{% endblock %}
{% block project_css %}
{% endblock %}
{% block extra_css %}
    <style>
            .navbar-brand img   {
                max-height: 50px;
            }
            .form-horizontal  {
                margin-top: 100px;
            }
            .container  {
                margin: 10px;
            }
        </style>
{% endblock %}
{% block store_details %}
{% endblock %}
{% block content %}
    <div class="container">
        <form action="/feedback/{{ store.id }}/" class="form-horizontal" role="form" method="post">
                {% csrf_token %}
                    {{form | crispy}}
                <input type="hidden" name="store" id="store" value="{{ store.id }}"/>
                <input type="submit"/>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
{% block logging %}
    <script>
        $(document).ready(function(){
            var user_unique_id = readCookie("user_unique_id");
            call_log(-5, window.log_info.home_device_id, user_unique_id, document.title, "");
        });
    </script>
{% endblock %}
{% endblock %}