{% extends "core_base.html" %}
{% block store_details %}
{% endblock %}
{% block extra_css %}
    <style>
        .center-img     {
            margin: 0 auto;
            width: 80%;
        }
    </style>
{% endblock %}
{% block brand_background %}{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="center-img">
        <img src="{{ content.file.url }}"
             class="img-responsive"/>
    </div>
{% endblock %}
{% block extra_js %}
    {% block logging %}
        <script>
            $(document).ready(function(){
                var user_unique_id = readCookie("user_unique_id");
                call_log({{ content.id }}, window.log_info.home_device_id, user_unique_id, "Wallpaper Fullscreen", "page_load","");
            });
        </script>

    {% endblock %}
{% endblock %}