@font-face {
    font-family: "Lato Regular";
    src: url("../fonts/Lato-Reg.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("../fonts/Lato-Bla.ttf");
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
}


body {
    font-family: "Lato Regular";
    background-color: #fff;
}

#main-container {
    min-height: 100%;
    height: auto;
    padding: 0 0 60px;
    margin: 60px auto -60px;
}

.footer-container {
    width: auto;
    padding: 0 15px;
}

.footer-container .text{
    margin: 20px 0;
}
