<div class="col-lg-4 col-xs-12 col-sm-6 brandclub-widget"
     data-log-brand-name="{{ content.own_store.brand.name }}"
     data-log-content-name="{{ content.name }}"
     data-log-content-type="{{ content.content_type }}"
     data-log-content-id="{{ content.id }}">
    <div class="img-frame">
        <div class="image-wrapper">
        <div class="info-panel">
{#            <div class="icons col-xs-8">#}
                <h5>{{ content.name }}</h5>
{#            </div>#}
        </div>
            <div id="ss-container-{{ content.id }}" data-slideshow-id="{{ content.id }}" data-log-content-id="{{ content.id }}"
                 class="slideshow">
                <div id="slide-show-carousel-{{ content.id }}"
                     class=" content-link img-preview blueimp-gallery blueimp-gallery-controls">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="play-pause"></a>
                </div>
                <div class="links">
                    {% for i in content.image.all %}
                        <a href="{{ i.image.url }}" data-target-url="{{ i.target_url }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="slideshow-template-description-table">
            <p class="col-xs-8">{{ content.short_description }}</p>
            <div class="icons pull-right col-xs-2">
                    <a class="glyphicon glyphicon-fullscreen"
                       href="/slideshow/{{ content.id }}"></a>
            </div>
        </div>
    </div>
</div>