{% load staticfiles %}
<div class="col-lg-4 col-xs-12 col-sm-6 brandclub-widget"
     data-log-brand-name="{{ content.own_store.brand.name }}"
     data-log-content-name="{{ content.name }}"
     data-log-content-type="{{ content.content_type }}"
     data-log-content-id="{{ content.id }}">
    <div class="img-frame">
        <div class="image-wrapper">
            <a class="content-link img-preview "
               href="#">
                <video style="width:100%;height:auto;"
                       poster="{{ content.thumbnail.url }}"
                       controls="controls" preload="none">
                    <source type="video/mp4"
                            src="{{ content.file.url }}"/>
                    <object style="height:inherit;width:inherit"
                            type="application/x-shockwave-flash"
                            data="{% static 'js/flashmediaelement.swf' %}">
                        <param name="movie"
                               value="{% static 'js/flashmediaelement.swf' %}"/>
                        <param name="flashvars"
                               value="controls=true&file={{ content.file.url }}"/>
                        <img src="{{ content.thumbnail.url }}"
                             style="height:inherit;width:inherit"
                             title="No video playback capabilities"/>
                    </object>
                </video>
            </a>
        </div>
        <div class="row info-panel">
            <div class="icons col-xs-8">
                <h5>{{ content.name }}</h5>
            </div>

        </div>

        <p>{{ content.short_description }}</p>
    </div>
</div>
